---
layout: default
---

<div class="home">

  {{ content }}

  {% for tag in site.tags %}
    {% if tag[0] == "至頂" %}
    <h1 class="page-heading">置頂文章</h1>
    <ul class="post-list">
      {% assign pages_list = tag[1] %}
      {% for post in pages_list %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.author %}
        <span class="post-meta">作者 :  {{ post.author }} | </span>
        {% endif %}
        <span class="post-meta">發表於 {{ post.date | date: "%F %X" }}</span>
        <hr/>
      </li>
      {% endfor %}
      {% assign pages_list = nil %}
      {% assign group = nil %}
    </ul>
    {% endif %}
  {% endfor %}

  <h1 class="page-heading">文章</h1>
  {% if paginator.posts %} {% else %}
  <div style="text-align:center;">
    <h3>目前還沒有文章!</h3>
  </div>
  {% endif %}
  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        {% if post.author %}
        <span class="post-meta">作者 :  {{ post.author }} | </span>
        {% endif %}
        <span class="post-meta">發表於 {{ post.date | date: "%F %X" }}</span>
        <hr/>
      </li>
    {% endfor %}
  </ul>

  <!-- Pagination links -->
  {% if paginator.total_pages %}
  <ul class="uk-pagination uk-flex-center" uk-margin>
	{% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path }}"><span uk-pagination-previous></span>上一頁</a></li>
	{% else %}
	<li class="uk-disabled"><a href="#"><span uk-pagination-previous></span>上一頁</a></li>
	{% endif %}
    <li class="uk-disabled"><span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></li>
	{% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path }}"><span uk-pagination-next></span>下一頁</a></li>
	{% else %}
	<li class="uk-disabled"><a href="#"><span uk-pagination-next></span>下一頁</a></li>
	{% endif %}
  </ul>
  {% endif %}
</div>
